<div th:fragment="head" th:remove="tag">
    <link th:href="@{/assets/plugins/global/fonts/flaticon/Flaticon.ttf}" />
    <link th:href="@{/assets/plugins/global/fonts/flaticon/Flaticon.woff}" />
    <link th:href="@{/assets/plugins/global/fonts/flaticon2/Flaticon2.ttf}" />
    <link th:href="@{/assets/plugins/global/fonts/flaticon2/Flaticon2.woff}" />
    <link th:href="@{/assets/plugins/global/fonts/keenthemes/Ki.ttf}" />
    <link th:href="@{/assets/plugins/global/fonts/keenthemes/Ki.woff}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page) wizards-->
    <link
        href="https://preview.keenthemes.com/metronic/theme/html/demo10/dist/assets/css/pages/wizard/wizard-6.css?v=7.2.5"
        rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->


    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="Sistema de Gestión de Inventarios del IGP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link
        href="https://preview.keenthemes.com/metronic/theme/html/demo10/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.2.5"
        rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link
        href="https://preview.keenthemes.com/metronic/theme/html/demo10/dist/assets/plugins/global/plugins.bundle.css?v=7.2.5"
        rel="stylesheet" type="text/css" />
    <link
        href="https://preview.keenthemes.com/metronic/theme/html/demo10/dist/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.2.5"
        rel="stylesheet" type="text/css" />
    <link href="https://preview.keenthemes.com/metronic/theme/html/demo10/dist/assets/css/style.bundle.css?v=7.2.5"
        rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon"
        href="https://preview.keenthemes.com/metronic/theme/html/demo10/dist/assets/media/logos/favicon.ico" />

    <script src="https://unpkg.com/feather-icons"></script>

    <script>(function (h, o, t, j, a, r) { h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) }; h._hjSettings = { hjid: 1070954, hjsv: 6 }; a = o.getElementsByTagName('head')[0]; r = o.createElement('script'); r.async = 1; r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv; a.appendChild(r); })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');</script>
    <style>
        .mb-2,
        .my-2 {
            margin-bottom: 10px !important;
        }
    </style>
</div>